@import "_variable.scss";
@import "_reset.scss";
@import "_mixin.scss";

//
//
// common
//
* {
  box-sizing: border-box;
}

//
//
// header
//

header {
  .global-nav {
    @include nav2;
    top: 0;
    padding: 0 1rem;
    height: 44px;

    .global-nav-links {
      @include nav;
    }
  }

  .local-nav {
    @include nav2;
    top: 45px;
    padding: 0 1rem;
    height: 52px;
    border-bottom: 1px solid #ddd;

    .local-nav-inner {
      @include nav;

      h1 {
        margin-right: auto;
        font-size: 1.2em;
      }

      .local-nav-links {
        @include flexbox();

        li:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}

//
// content
//

.scroll-section {
  position: relative;
  padding-top: 50vh;

  border: 1px solid red;

  &#scrollsection-0 {
    h2 {
      font-size: 4rem;
      text-align: center;
    }
  }

  .main-message {
    @include flexbox();
    height: 3em;
    font-size: 2.5rem;

    &.sticky-elem {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    p {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      line-height: 1.2;
    }

    small {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 0.5em;
    }
  }

  &#scrollsection-2 {
    .main-message {
      font-size: 3.5rem;

      p {
        font-size: 3.5rem;
      }
    }
  }

  .desc-message {
    width: 50%;
    font-weight: bold;

    .pin {
      width: 1px;
      height: 100px;
      background-color: $black;
    }
  }

  .description {
    font-size: 1.2rem;
    color: $grey;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;

    strong {
      float: left;
      margin-right: 0.2em;
      color: $black;
      font-size: 3rem;
    }
  }

  .mid-message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color: $grey;

    strong {
      font-size: 2.2rem;
      color: $black;
    }
  }

  .canvas-caption {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    color: $grey;
    font-size: 1.2rem;
  }
}

#show-scene-0,
#show-scene-1,
#show-scene-2,
#show-scene-3 {
  #scrollsection-0,
  #scrollsection-1,
  #scrollsection-2,
  #scrollsection-3 {
    .sticky-elem {
      display: block;
    }
  }
}

//
//
// footer
//

footer {
  @include flexbox();
  background-color: $black;
  color: $white;
  height: 7em;
}

//
//
//
@include pc {
  .scroll-section {
    &#scrollsection-0 {
      h2 {
        font-size: 9vw;
      }
    }

    .main-message {
      font-size: 4vw;
      p {
        font-size: 4vw;
      }

      small {
        font-size: 1.5vw;
      }
    }

    .description {
      font-size: 2rem;

      strong {
        font-size: 6rem;
      }
    }

    .desc-message {
      width: 20%;
    }

    &#scrollsection-2 {
      .main-message {
        font-size: 6vw;

        p {
          font-size: 6vw;
        }
      }
    }

    .mid-message {
      font-size: 4vw;
      strong {
        font-size: 4vw;
      }
    }

    .canvas-caption {
      font-size: 2rem;
    }
  }
}
