@import "_variable.scss";
@import "_reset.scss";
@import "_mixin.scss";

//
//
// common
//
* {
  box-sizing: border-box;
}

//
//
// header
//

header {
  .global-nav {
    @include nav2;
    top: 0;
    padding: 0 1rem;
    height: 44px;

    .global-nav-links {
      @include nav;
    }
  }

  .local-nav {
    @include nav2;
    top: 45px;
    padding: 0 1rem;
    height: 52px;
    border-bottom: 1px solid #ddd;

    .local-nav-inner {
      @include nav;

      h1 {
        margin-right: auto;
        font-size: 1.2em;
      }

      .local-nav-links {
        @include flexbox();

        li:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}

//
// content
//

.scroll-section {
  position: relative;
  padding-top: 50vh;

  &#scrollsection-0 {
    h2 {
      font-size: 4rem;
      text-align: center;
      position: relative;
      top: -10vh;
      z-index: 2;
    }
  }

  .main-message {
    @include flexbox();
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;

    &.a,
    &.b,
    &.c,
    &.d {
      top: 35vh;
    }

    p {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      line-height: 1.2;
    }

    small {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 0.5em;
    }
  }

  .sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;

    &.sticky-elem-canvas {
      top: 0;
      height: 100%;

      canvas {
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
  }

  &#scrollsection-2 {
    .main-message {
      font-size: 3.5rem;

      p {
        font-size: 3.5rem;
      }
    }

    .b {
      top: 10%;
      left: 40%;
    }

    .c {
      top: 15%;
      left: 45%;
    }
  }

  .desc-message {
    width: 50%;
    font-weight: bold;
    opacity: 0;

    .pin {
      width: 1px;
      height: 100px;
      background-color: $black;
    }
  }

  .description {
    font-size: 1.2rem;
    color: $grey;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;

    strong {
      float: left;
      margin-right: 0.2em;
      color: $black;
      font-size: 3rem;
    }
  }

  .mid-message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem 2em;
    font-size: 2rem;
    color: $grey;

    strong {
      font-size: 2.2rem;
      color: $black;
    }
  }

  &#scrollsection-3 {
    @include flexbox($flexJC: initial);
    flex-direction: column;

    .image-blend-canvas {
      background: blue;
    }

    .canvas-caption {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 1rem;
      color: $grey;
      font-size: 1.2rem;
    }
  }
}

#show-scene-0 #scrollsection-0 .sticky-elem,
#show-scene-1 #scrollsection-1 .sticky-elem,
#show-scene-2 #scrollsection-2 .sticky-elem,
#show-scene-3 #scrollsection-3 .sticky-elem {
  display: block;
}

//
//
// footer
//

footer {
  @include flexbox();
  background-color: $black;
  color: $white;
  height: 7em;
}

//
//
//
@include pc {
  .scroll-section {
    &#scrollsection-0 {
      h2 {
        font-size: 9vw;
      }
    }

    .main-message {
      font-size: 4vw;
      p {
        font-size: 4vw;
      }

      small {
        font-size: 1.5vw;
      }
    }

    .description {
      font-size: 2rem;

      strong {
        font-size: 6rem;
      }
    }

    .desc-message {
      width: 20%;
    }

    &#scrollsection-2 {
      .main-message {
        font-size: 6vw;

        p {
          font-size: 6vw;
        }
      }

      .b {
        top: 20%;
        left: 53%;
      }

      .c {
        left: 55%;
      }
    }

    .mid-message {
      font-size: 4vw;
      strong {
        font-size: 4vw;
      }
    }

    .canvas-caption {
      font-size: 2rem;
    }
  }
}
